@import 'tailwindcss';

@theme inline {
  --font-sans: 'Inter', sans-serif;
}

/* GLOBAL BASE STYLE */
body {
  background-color: #ffffff;
  color: #111827;
}

/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}